{% extends 'layoutFrontOffice.html.twig' %}

{% block title %}New Participation{% endblock %}

{% block body %}
    <h1>Create new Participation</h1>

    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
    {{ include('participation/_form.html.twig') }}

    <a href="{{ path('app_evenement_indexFront') }}">   back to list</a>
{% endblock %}
